GITHUB_TOKEN=ghp_xxxx
GITHUB_REPOS=your-name/repo1,your-name/repo2

LLM_MODEL=llm_model_name
LLM_BASE_URL=llm_base_url
LLM_API_KEY=sk_xxxx

# 邮箱服务
EMAIL_SMTP_HOST=smtp.example.com
# 发件人邮箱
EMAIL_SENDER=xxx@example.com
# 发件人邮箱SMTP授权码
EMAIL_PASSWORD=xxxx
# 收件人邮箱列表
EMAIL_RECIPIENTS=xxx@qq.com,xxx@163.com